<h1 class="has_subtitle"> Sign Up Now For a Free MyRPI-Space Account</h1>
<h2 class="subtitle">Joining is quick and easy.&nbsp;&nbsp;Oh, and did we mention it's free?<h2>

<br><br>

<div class="sun">
</div>

<div class="signup-div">
  <h1> - SIGN UP NOW - </h1>
  <br><br><br>
  <div class="seal_button">
    <a href="/auth/cas">
      <div class="seal_text">
        Click Here to Log In
        <br/>
        using your RPI ID
      </div>
    </a>
  </div>
  <br><br><br>
  <div class="signup-div-bottom">
    <p>You must be a member of the <a href="rpi.edu" class="unstyled-link"> RPI </a> community in order to create a free MyRPI-Space account.</p>
  </div>
</div>

<br><br><br>

<div class="join_detail">
  <%= image_tag "dove_icon.jpg" %>
  <h3 class="detail_title">Freedom.</h3>
  <p class="detail">Try out new web technologies and expand your knowledge and talents on the Web. No more rigid quotas or jumping through hoops.</p>
</div>

<div class="join_detail">
  <%= image_tag "fist_icon.jpg" %>
  <h3 class="detail_title">Power.</h3>
  <p class="detail">Ruby on Rails, PHP, Perl, and much more (view list). Use Fantastico to set up Drupal, Wordpress, and other packages in a couple mouse clicks.</p>
</div>

<div class="join_detail">
  <%= image_tag "keys_icon.jpg" %>
  <h3 class="detail_title">Access.</h3>
  <p class="detail">Shell access via SSH, FTP, MySQL, PostgreSQL, and a full CGI-bin. Your own custom URL with a sub-domain at myrpi.org. Be creative.</p>
</div>

<div class="join_detail">
  <%= image_tag "numbers_icon.jpg" %>
  <h3 class="detail_title">Numbers.</h3>
  <p class="detail">100 MB of disk space. 2 GB of bandwidth. 3 sub-domains, 3 FTP accounts, and 3 databases. If you need more than that, just request it.</p>
</div>